<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "CrackedRuby" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="icon" href="/logo.png" type="image/png">
    <link rel="apple-touch-icon" href="/logo.png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "marksmith", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="flex flex-col">
    <%= render "shared/nav" %>
    <div class="flex flex-1 pt-16 md:pt-0">
      <main class="flex-1 md:ml-64 p-4">
        <div class="max-w-4xl mx-auto">
          <%= yield %>
        </div>
      </main>
    </div>
  </body>
</html>
